<div id="<%= dom_id checkin %>">
  <p>
    <strong>Date:</strong>
    <%= checkin.date %>
  </p>

  <p>
    <strong>Mood:</strong>
    <%= checkin.mood %>
  </p>

  <p>
    <strong>Sleep:</strong>
    <%= checkin.sleep %>
  </p>

</div>
